<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>co.edu.sena.Nexdoc.negocio.ControladorDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPersona</servlet-name>
        <servlet-class>co.edu.sena.Nexdoc.negocio.ControladorPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDocumento</servlet-name>
        <servlet-class>co.edu.sena.Nexdoc.negocio.ControladorDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>co.edu.sena.Nexdoc.negocio.pdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPersona</servlet-name>
        <url-pattern>/ControladorPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDocumento</servlet-name>
        <url-pattern>/ControladorDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
