#formulario {
    margin-top: 7px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 100%;
    max-width: 865px;
    position: relative;
    text-align: center;
    margin-top: 4%;
}
#formulario .editar{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 950px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    margin-top: 10%;
}
#formulario input[type=button],#formulario input[type=submit],#formulario input[type=reset]  {
    background-color: rgb(233,147,26);
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 10px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
}

#formulario .texto1{
    border: none;
    color: black;
    width: 250px;
    height: 45px;
    text-decoration: none;
    font-size: 15px;
}

#formulario input[type=button]:hover,#formulario input[type=submit]:hover,#formulario input[type=reset]:hover,#formulario select  {
    background-color: grey;
}
#formulario input[type=text],#formulario input[type=email],#formulario input[type=int],#formulario input[type=password]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 17px 35px;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
    height: 8px;
}
#formulario select{	
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 1px 35px;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 250px;
    height: 20px;
}

#formulario input[type=text]:focus,#formulario input[type=password]:focus,#formulario input[type=email]:focus,#formulario input[type=int]:focus,#formulario select:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}
#formulario div.Personales{
    float: left;
}
#formulario div.Cuenta{
    float: left;
}
#formulario div.Ubicacion{
    float: left;
    margin: 5px;
    margin-top: 0px;
}
#formulario select{
    color:black;
}
.boton{
    margin-top: 500px;
}