#formContentrecibidos .Recibidos{
    text-align: center;
    width: 1100px;
}
#formContentrecibidos .imgdoc{
    width: 80px;
    height: 80px;
}
#formContentrecibidos td, th{
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 1px solid black;
    width: 10%;
}

#formContentrecibidos .Recibidos tr, th{
    height: 60px;
}

.Listar{
    text-align: center;
    width: 770px;
}
#formContentrecibidos a[type="button"]{	
    background-color: rgb(233,147,26);
    border: none;
    color: white;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
#formContentrecibidos a[type="button"]:hover{	
    background-color: grey;
}
input[type="text"]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
    height: 10px;
}

input[type="text"]:focus{
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}
.buscar{
    float: left;
    margin-left: 100px;
    margin-right: 380px;
}
.agregar{
    margin-top:7px; 
    margin-bottom: 0px;
}