#documento > object{
 float: left;
}
#documento > object{
 width: 70%; 
 height: 86vh;
 margin-top: -10px;
 margin-right:10px;
}
#info{
 text-align: left;
 height: 83%;
}
.respuesta{
 float: right; 
 margin-right: 20px;
}
