#documento > object{
 float: left;
}
#documento > object{
 width: 60%; 
 height: 86vh;
 margin-top: -10px;
 margin-right:10px;
}
#info{
 text-align: left;
 height: 83%;
}
.respuesta{
 float: right; 
 width: 10%;
 margin-right: 20px;
 margin-top:450px;
}
.table{
 width: 39%;
 margin-top:-450px;
}